$grid-gutter-size: 0.5rem;

.container {
  padding: $grid-gutter-size;
}

.row {
  display: flex;
  margin-left: -1 * $grid-gutter-size;
  width: auto;
}

.col {
  padding-left: $grid-gutter-size;
  background-clip: padding-box;

  & > * {
    margin-bottom: $grid-gutter-size;
  }
}

.buttonWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
